{% extends "base.html" %}
{% block body %}


    <section class="page_breadcrumbs ds  section_padding_top_65 section_padding_bottom_65">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2> <u>LISTES DES PARTICIPANTS</u> </h2>


                </div>
            </div>
        </div>
    </section>

			
    <section class="ls section_padding_top_100 section_padding_bottom_100">
        <div class="container">
            <div class="row">
                <div class="text-center col-sm-12 ">
                    <div class="clearfix"></div>
                    <div class="table-responsive">
                        <table class="table_template darklinks" id="timetable">
                            <thead>
                                <h2>Les participants</h2>
                                <tr>
                                    <th>ID</th>
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>Numero</th>
                                    <th>email</th>
      
                                </tr>
                            </thead>
                            <tbody>
                                 <!-- ici commence la boucle -->
                                 {% for participant in participants %}                       
                                 <tr>
                                    <td>{{ forloop.counter}}</td>
                                    <td>{{ participant.first_name}}</td>
                                    <td>{{ participant.last_name}}</td>
                                    <td>{{ participant.number}}</td>
                                    <td>{{ participant.email}}</td>

                                </tr>
                                <tr>	
                                </tr>
                                {% endfor %}      

                            <!-- Fin php -->
                            </tbody>
                    

                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- eof #box_wrapper -->
</div>

{% endblock %}